@charset "UTF-8";
/* CSS Document */

/*colors*/

.blue100 {color:#1EAAF0;}
.blue80 {color:#4BBBF3;}
.dkBlue {color:#005082;}

.red100 {color:#B41E4B;}
.dkRed {color:#881637;}

.red100 {color:#B41E4B;}
.dkRed {color:#881637;}


/*headers*/

.capturaH1 {
}

.capturaH2 {
	font-size:2.2em;
	font-family: 'News Gothic', 'Arial Narrow' , 'Helvetica Narrow',sans-serif;
	text-transform: uppercase;
}

.capturaH3 {
	font-size:1.6em;
	font-family: 'News Gothic', 'Arial Narrow' , 'Helvetica Narrow',sans-serif;
	text-transform: uppercase;
}

.whiteCenterHeader {
	font-size:2.9em;
	font-family: 'News Gothic', 'Arial Narrow' , 'Helvetica Narrow' ,sans-serif;
	text-transform: uppercase;
	color:#fff;
	text-align:center; 
}

p.lineHeight150 {
		line-height: 1.5em;
}


/*column containers for full-width*/

.oneThirdRight {
	max-width:480px; 
	float:left;
	margin-top:20%;
}

.oneThirdLeft {
	max-width:480px; 
	float:right;
	margin-top:20%;
}

/*half-page tout hacks*/

/*lists*/

ul.greenBullet {
	list-style:none;
	padding:0px;
	text-indent:0;
	font-weight:normal;
}

ul.greenBullet li {
	background:url(/content/dam/diasgrandiosos/icons/green-bullet.png) 0px 6px no-repeat;
	padding-left:35px;
	margin-bottom:35px;
	line-height: 1.5em;
}

