@charset "UTF-8";
/* CSS Document */

/*colors*/

.blue100 {color:#1EAAF0;}
.blue80 {color:#4BBBF3;}
.dkBlue {color:#005082;}

.red100 {color:#B41E4B;}
.dkRed {color:#881637;}

.green100 {color:#BED22D;}
.dkGreen {color:#9BAC42;}

.purple100 {color:#7D3C9B;}
.dkPurple {color:#67327A;}


/*headers*/

.capturaH1 {
}

.capturaH2, .capturaH3, .capturaH4, .capturaH5 {
	font-family: 'News Gothic', 'Arial Narrow' , 'Helvetica Narrow',sans-serif;
	text-transform: uppercase;
	line-height:1.3em;
	font-weight:normal !important;
}

.capturaH2 {
	font-size:2.2em;
}

.capturaH3 {
	font-size:1.6em;
}

.capturaH4, .capturaH5 {
	font-size:1.2em;
}

.capturaH5 {
	text-transform:none !important;
}

.whiteCenterHeader {
	font-size:2.9em;
	font-family: 'News Gothic', 'Arial Narrow' , 'Helvetica Narrow' ,sans-serif;
	text-transform: uppercase;
	color:#fff;
	text-align:center; 
	line-height:1.5em;
	font-weight:normal;
}

p.lineHeight150 {
		line-height: 1.5em;
}

/*column containers for full-width*/

.bodyCopy .colRight {  /*choose your side - OPTIONAL: if not added you element will center in it's collumn*/
	float:left;
	margin-right:20%;
}
.bodyCopy .colLeft { 
	float:right;
	margin-left:20%;
}

.bodyCopy .marginTop5 { /*choose your margin size*/
 	margin-top:5%;
}

.bodyCopy .marginTop10 {
 	margin-top:10%;
}
.bodyCopy .marginTop20 {
 	margin-top:20%;
}
.oneThirdFullNarrow { /* for tighter designs where adjacent image does not go full width*/
	max-width:345px; 
	margin-left: auto;
	margin-right: auto;
}
.oneThirdPaddedNarrow { /* for tighter designs where adjacent image goes to full width--need to add padding only if you select colRight or Left*/
	max-width:295px;
	margin-left: auto;
	margin-right: auto;
}
.oneThirdFullWide { /*for designs with a lot of white space where adjacent image does not go full width*/
	max-width:480px;
	margin-left: auto;
	margin-right: auto; 
}
.oneThirdPaddedWide { /*for designs with a lot of white space where adjacent image image goes to full width--need to add padding only if you select colRight or Left*/
	max-width:430px; 
	margin-left: auto;
	margin-right: auto;
}
.twoThirdFull { /* use when adjacent image does not go full width */
	max-width:780px;
	margin-left: auto;
	margin-right: auto;
}
.twoThirdPadded { /*use when adjacent image goes to full width--need to add padding only if you select colRight or Left*/
	max-width:730px; 
	margin-left: auto;
	margin-right: auto;
}
.oneHalfFull { /* use when adjacent image does not go full width STYLE UNFINISHED STILL-safe to edit-*/
	max-width:585px;
	margin-left: auto;
	margin-right: auto;
}
.oneHalfPadded { /*use when adjacent image goes to full width--need to add padding STYLE UNFINISHED STILL-safe to edit--may need breakpoints*/
	max-width:535px;
	margin-left: auto;
	margin-right: auto;
}
.bodyCopy .fixedColLeft { /*add to fixed width collumns after setting left/right overrides to 0--excluding 100%*/
		padding-right: 50px;
}
.bodyCopy .fixedColRight { /*add to fixed width collumns after setting left/right overrides to 0--excluding 100%*/
		padding-left: 50px;
}
/*if adjacent image goes to edge add this padding*/
.colLeftPadding {
	padding-right:50px;
}
.colRightPadding {  
	padding-left:50px;
}

.quote {
		background: url(/content/dam/diasgrandiosos/global/quotation-marks/top_quote.png) top left no-repeat,
		url(/content/dam/diasgrandiosos/global/quotation-marks/bottom_quote.png) bottom right no-repeat;
}

.quote p {text-align:left !important; padding:30px 0;}

	
@media screen and (min-width: 601px) and (max-width: 1170px) {
	.bodyCopy .colRight, .bodyCopy .colLeft, .bodyCopy .marginTop10, .bodyCopy .marginTop20, .bodyCopy .marginTop5 {
		margin-top: 5%;
		margin-right:10%;
		margin-left:10%;
	}
}
@media screen and (max-width: 600px) {
	.bodyCopy .colRight, .bodyCopy .colLeft, .bodyCopy .marginTop10, .bodyCopy .marginTop20, .bodyCopy .marginTop5  {
		margin-top: 30px;
		margin-right:20px;
		margin-left:20px;
		float:none;
		max-width:100% !important;
	}
	.colLeftPadding {
	padding-right:0px;
  }
  .colRightPadding {  
	 padding-left:0px;
  }
  .bodyCopy .fixedColLeft, .bodyCopy .fixedColRight { 
		margin-left:20px;
		margin-right:20px;
		padding:0px;
	}
}
@media screen and (min-width: 601px) and (max-width: 1270px) {
	.bodyCopy .fixedColLeft, .bodyCopy .fixedColRight { 
		margin-left:10%;
		margin-right:10%;
		padding:0px;
	}
	.twoThirdPadded  { 
	margin-right:50px;
	margin-left:50px;
	}
}
/*lists */

ul.greenBullet, ul.blueBullet, ul.redBullet, ul.purpleBullet, ul.greenBulletStd, ul.blueBulletStd, ul.redBulletStd, ul.purpleBulletStd, ul.greenBulletMed {
	list-style:none;
	padding:0px;
	text-indent:0;
	font-weight:normal;
}
/*027 lists */
ul.greenBullet li {
	background:url(/content/dam/diasgrandiosos/icons/green-bullet.png) 0px 10px no-repeat;
	padding-left:35px;
	margin-bottom:35px;
	line-height: 1.5em;
}

ul.greenBulletMed li {
	background:url(/content/dam/diasgrandiosos/icons/green-bullet.png) 0px 10px no-repeat;
	padding-left:35px;
	margin-bottom:20px;
	line-height: 1.5em;
}

ul.blueBullet li {
	background:url(/content/dam/diasgrandiosos/icons/blue-bullet.png) 0px 10px no-repeat;
	padding-left:35px;
	margin-bottom:35px;
	line-height: 1.5em;
}

ul.redBullet li {
	background:url(/content/dam/diasgrandiosos/icons/red-bullet.png) 0px 10px no-repeat;
	padding-left:35px;
	margin-bottom:35px;
	line-height: 1.5em;
}

ul.purpleBullet li {
	background:url(/content/dam/diasgrandiosos/icons/purple-bullet.png) 0px 10px no-repeat;
	padding-left:35px;
	margin-bottom:35px;
	line-height: 1.5em;
}
/* Std Lists */
ul.greenBulletStd li {
	background:url(/content/dam/diasgrandiosos/icons/green-bullet.png) 0px 10px no-repeat;
	padding-left:35px;
	margin-bottom:10px;
	line-height: 1.5em;
}
ul.blueBulletStd li {
	background:url(/content/dam/diasgrandiosos/icons/blue-bullet.png) 0px 10px no-repeat;
	padding-left:35px;
	margin-bottom:10px;
	line-height: 1.5em;
}
ul.redBulletStd li {
	background:url(/content/dam/diasgrandiosos/icons/red-bullet.png) 0px 10px no-repeat;
	padding-left:35px;
	margin-bottom:10px;
	line-height: 1.5em;
}
ul.purpleBulletStd li {
	background:url(/content/dam/diasgrandiosos/icons/purple-bullet.png) 0px 10px no-repeat;
	padding-left:35px;
	margin-bottom:10px;
	line-height: 1.5em;
}
/* 025 Lists */
ul.purpleBullet25 li {
	background:url(/content/dam/diasgrandiosos/icons/purple-bullet.png) 0px 10px no-repeat;
	padding-left:35px;
	margin-bottom:10px;
	line-height: 1.5em;
}

/* 14 Millenials */
.halfPage14 {
	background:#fff; 
	width:100%;
	padding:40px 10%;
}
.halfPage14 p {
	margin-bottom: 40px;
}
.halfPage14 img {
	width:100%;
	height:auto;
	display:block;
	margin:0 auto;
	max-width: 437px;
}

/*15 mom eating healthy*/
.circleContainer {
	text-align: center;
	float: left;
	padding-bottom: 280px;
	background-repeat: no-repeat;
	background-position: bottom center;
	min-width: 50%;
	max-width: 256px;
	max-height: 344px;
	background-size: contain;
	margin-top: 10%;
}
.circleContainer img {
	display:block;
	max-width:90%;
	margin: 10% auto 0;
}
.capturaClear {
	clear:both;
}

/*27 Spice Up Cereal*/
.starList {
background:url(/content/dam/diasgrandiosos/icons/star-bullet.png) left 4px no-repeat; 
padding-left:40px; 
color:#373737 !important;
}


/*Start of Media Queries For specific pages*/

@media screen and (max-width: 600px) {
  .starList {
	  padding-right: 30px;
  }
  	.halfPage14 {
		padding:30px 8%;
	}	
	.halfPage14 p{
		margin-bottom: 25px;
	}
	.circleContainer {
		text-align: center;
		float: none;
		padding-bottom: 285px;
		background-repeat: no-repeat;
		background-position: bottom center;
		min-width: 50%;
		max-width: 300px;
		max-height: none;
		background-size: contain;
		margin: 10% auto 0;
	}
}
@media screen and (min-width: 1170px) and (max-width: 1400px) {
	.halfPage14 img{
		width:85% ;
	}
	.halfPage14 {
		width:90%;
		padding:30px 8%;
		margin: 0 auto;
	}	
	.halfPage14 p{
		margin-bottom: 30px;
	}
}
